<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1>Delete Book</h1>
            <p>Are you sure you want to delete {{book.title}}?</p>
            <form action="{{url_for('deleteBook', book_id=book.id)}}" method='POST'>
                <input type="submit" value="Delete"></button>
                <a href="{{url_for('showBook')}}">Cancel</a>
            </form>
        </body>
    </head>
</html>