<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1>Edit Book</h1>
            <div>
                <p>Name:</p>
                <form action="{{url_for('editBook', book_id=book.id)}}" method="POST">
                    <input type="text" name="replaceWith" placeholder="{{book.title}}">
                    <input type="submit" value="Edit">
                    <a href="{{url_for('showBook')}}">Cancel</a>
                </form>
            </div>
        </body>
    </head>
</html>