<!DOCTYPE html>
<html>
    <head>
        <body>
            <h1>New Book</h1>
            <p>Name:</p>
            <form action="{{url_for('newBook')}}" method='POST'>
                <input type="text" name="newTitle">
                <input type="submit" value="Create">
            </form>
        </body>
    </head>
</html>