<!- showBook.html -->
<html>
    <head></head>
    <body>
        <h1>Books</h1>
        {% if books == [] %}
            <p>No books exist</p>
        {% else %}
            {% for book in books %}
                <div style="padding-top: 10px; padding-bottom: 20px">
                    {{book.title}} <br>
                    <a href="{{url_for('editBook', book_id=book.id)}}"> Edit books </a> <br>
                    <a href="{{url_for('deleteBook', book_id=book.id)}}"> Delete books </a>
                </div>
            {% endfor %}
        {% endif %}
    </body>
</html>